@{
    switch (PostCompany.Utils.Authentication.GetCurrnetUserType())
    {
        case PostCompany.Utils.UserType.Customer:
            Response.Redirect("~/Site/Customer");
            break;
        case PostCompany.Utils.UserType.Employee:
            switch (PostCompany.Utils.Authentication.GetCurrnetUserRole())
            {
                case PostCompany.Models.EmployeeRole.Counter:
                    Response.Redirect("~/Site/Counter");
                    break;
                case PostCompany.Models.EmployeeRole.Manager:
                    Response.Redirect("~/Site/Manager");
                    break;
                case PostCompany.Models.EmployeeRole.Transport:
                    Response.Redirect("~/Site/Transport");
                    break;
                case PostCompany.Models.EmployeeRole.Weight:
                    Response.Redirect("~/Site/Weight");
                    break;
            }
            break;
    }
    Layout = "";
}
<!doctype html>

<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>

    <!-- Page styles -->
    @Styles.Render("~/Content/Site/css.css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/Content/Site/material.brown-blue.min.css")
    @Styles.Render("~/Content/Site/styles_login.css")
    @Styles.Render("~/Content/Site/animate.css")
    @Scripts.Render("~/Content/Site/angular.min.js")

    <style>
        .mdl-layout {
            align-items: center;
            justify-content: center;
        }

        .mdl-layout__content {
            padding: 24px;
            flex: none;
        }
    </style>
</head>
<body ng-app="postApp" ng-controller="loginCtrl">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
            <div class="mdl-card mdl-shadow--6dp" id="FormContainer">
                <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                    <h2 class="mdl-card__title-text">Login to continue</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <form action="#" id="loginForm">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" ng-model="user.Username" type="text" id="username" />
                            <label class="mdl-textfield__label" for="username">Username</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" ng-model="user.Password" type="password" id="userpass" />
                            <label class="mdl-textfield__label" for="userpass">Password</label>
                        </div>
                        <span class="" style="color:rgb(174, 179, 176)">Login as:</span>

                        <span class="mdl-switch__label" style="padding-right:32px;padding-left:20px;">employe</span>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" style="width:0px; padding-left:20px;" for="switch-1">
                            <input type="checkbox" ng-model="isClient" id="switch-1" class="mdl-switch__input" checked>
                        </label>
                        <span class="mdl-switch__label">client</span>
                    </form>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="login()">Log in</button>
                </div>
            </div>
        </main>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/Site/material.min.js")
    @Scripts.Render("~/Content/Site/app.js")
    @Scripts.Render("~/Content/Site/loginCtrl.js")
</body>
</html>